[Unit]
Description=Restic Backup: {{ backup_name }}
After=network-online.target

[Service]
Type=oneshot
User=root
Environment=RESTIC_REPOSITORY={{ backup_repo_path }}
Environment=RESTIC_PASSWORD_FILE=/etc/restic/password

# Back up the specified paths
ExecStart=/usr/bin/restic backup {{ backup_paths | join(' ') }}

# Forget/Prune policy
ExecStartPost=/usr/bin/restic forget --keep-daily {{ keep_daily }} --keep-weekly {{ keep_weekly }}
