[Unit]
Description=Restic Prune: {{ backup_name }}
After=network-online.target

[Service]
Type=oneshot
User=root
Environment=RESTIC_REPOSITORY={{ backup_repo_path }}
Environment=RESTIC_PASSWORD_FILE=/etc/restic/password

ExecStart=/usr/bin/restic prune
